/* global.css */
select option:hover {
  background-color: #000;
  color: #fff;
}
/* fix html2canvas không support oklch */
#cv-preview-content,
#cv-preview-content * {
  --tw-bg-opacity: 1 !important;
  --tw-text-opacity: 1 !important;
  --tw-border-opacity: 1 !important;

  color: rgb(17, 24, 39) !important;
  border-color: rgb(229, 231, 235) !important;
}